<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h2>1. v-if, v-else-if, v-else</h2>
    1) 조건에 부합하지 않으면 렌더링하지 않음<br>
    2) test 조건 : 음수 표현 X <br>
    <div id="money">
        비트코인 : <input type="number" v-model="amount">만 <br>
        <!-- ? 마이너스가 아니라면 lion.png 보이게 개발
        -라면 apeach.png가 보이게 수정-->
        <img v-if="amount >= 1500" src="images/up.gif">
        <img v-else-if="amount < 1500" src="images/down.jpg">
    </div>

    <script>
        new Vue({
            el:"#money",
            data: {
                amount:0
            }
        })
    </script>

    <br><hr><br>
    <h2>2. v-show</h2>

</body>
</html>