<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td,
        th {
            border: 1px solid #DDDDDD;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #DDDDDD;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>Hello App!</h1>
        <p>
            <!-- 기본적으로 `<router-link>`는 `<a>` 태그로 렌더링됩니다.-->
            <router-link to="/name">Go to name</router-link>
            <router-link to="/table">Go to table</router-link>
        </p>
        <router-view></router-view>
    </div>
    <template id="tables">
        <table>
            <tr>
                <th v-for="(item, key, index) in dataList[0]">{{key}}</th>
            </tr>
            <template v-for="item in dataList"> 
                <tr>
                    <template v-for="(item2, key2) in item">
                        <td>{{item[key2]}}</td>
                    </template>
                </tr>
            </template>
        </table>
    </template>
    <script>
        //추가 미션 - 버튼 클릭하면 서버의 dept 등의 table들 select 해서 화면에 table 구조로 출력하기
        let model = {dataList : []};
        (() => {
            let tempmodel = {};
            axios.get('http://localhost/step11_BackLogic/index.jsp')
                .then(function (response) {
                    console.log("성공");
                    console.log(response);
                    console.log(response.data);
                    model.dataList = (response.data);
                })
                .catch(function (error) {
                    console.log("실패");
                    console.log(error);
                });
                return tempmodel;
        })();
        function myFun(){
            alert("myFun");
        }
        //router라는 기술로 개발되는 각각의 component들을 개별 객체들로 간주
        const name = { template: '<div><button v-on:click="this.myFun()">유재석</button></div>' }
        const table = {
            data: ()=>{return model},
            template: `#tables` 
        }
        const routes = [
            { path: '/name', component: name },
            { path: '/table', component: table }
        ]
        const router = new VueRouter({
            routes // `routes: routes`의 줄임
        })
        const app = new Vue({
            router
        }).$mount('#app')
    </script>
</body>
</html>